<h1><%= @state.name %></h1>
<% if :notice %><p class="notice"><%= flash[:notice] %></p><% end %>

<p><%= replace_for_view(h(@state.description)) %></p>

<% if @state.zoom != 0 %>
<h2>Areas</h2><h3>&nbsp;</h3>
<div id="map" style="width: 500px; height: 400px"></div>
<% end %>

<hr size=1 color=#ccc>
<p id="edit"><%= link_to 'Edit', :action => 'edit', :id => @state %>
<% if logged_in? && creator? %>
 | <%= link_to 'Add area', :controller => 'area', :action => 'new', :state_id => @state.id, :state_name => @state.name %>
<% end %>
<% if ! logged_in? %> (requires login)<% end %></p>