<h1><%= @area.name %></h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>
<p><%= replace_for_view(h(@area.description)) %></p>

<% if @area.zoom != 0 %>
<%= heading "Tracks" %>
<div id="map"></div><p><input type="button" value="Reset map view" onclick="resetMap();"/></p>
<% end %>

<%= heading "Track type/distance summary" %>

<div class="track_summary">
<% @area.tracks_summary.each do |summary| %>
<p class="left"><%= summary[0] %></p><p class="right"><%= distance(summary[1])%><p/>
<% end %>
<hr/>
<p class="left">Total distance</p><p class="right"><%= distance((@area.tracks_summary.collect {|a| a[1]}).sum) %></p>
</div>

<p>Total number of tracks for <%= @area.name %>: <%= @area.tracks.size %></p>

<hr/>

<p class="edit"><%= link_to 'Edit', :action => 'edit', :id => @area %>
<% if logged_in? && creator? %>
 | <%= link_to 'Add track', :controller => 'track', :action => 'new', :area_id => @area.id, :area_name => @area.name %>
<% end %>
<% if ! logged_in? %> (requires login)<% end %></p>