<%= error_messages_for 'region', :header_tag => 'h4' %>

<p><label for="region_name">Name</label><br/>
<%= text_field 'region', 'name'  %></p>

<p><label for="region_nation_id">Nation</label><br/>
<% if params[:action] == 'new' %>
  <%= text_field 'track', 'nation_id', :value => @region.nation.name, :disabled => true %>
<% else %>
  <%= select 'region', 'nation_id', Nation.find(:all).collect {|c| [c.name, c.id] } %>
<% end %>
</p>

<p><label for="region_description">Description</label><br/>
<%= text_area 'region', 'description', "cols" => 70, "rows" => 10 %></p>

<p><label for="rain_readings">Rain readings</label><br/>
<%= text_field 'region', 'rain_readings', "size" => 4 %> (days 0..21, use 0 for no rainfall graph)</p>

<p><label>Map</label>
<div id="map"></div></p>
<p><button type="button" onclick="startShape()" id="add_region" style="display:none;">Add region shape</button>
<button type="button" onclick="editShape()" id="edit_region" style="display:none;">Edit region shape</button>
<button type="button" onclick="fit()" id="fit_region">Auto-fit region</button>

<% Region::COLOURS.each_with_index do |colour,i| %>
<input id="region_colour_<%=i%>" type="radio" name="region[colour]" value="<%=i%>" <%= "checked" if @region.colour == i %> disabled="true" onClick="polygon.setStrokeStyle({color: '<%= colour %>'});polygon.setFillStyle({color: '<%= colour %>'});"><span style="background-color:<%= colour %>;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
<% end %>

<br/>
<span id="edit_region_info">Region shapes are displayed on the front page map.</span><p>

<input id="points" name="coords" value="<%#= @region.coords %>" type="hidden">
<%= hidden_field 'region', 'latitude', :id => "region_latitude" %>
<%= hidden_field 'region', 'longitude', :id => "region_longitude" %>
<%= hidden_field 'region', 'zoom', :id => "region_zoom" %>
