<%= error_messages_for 'region', :header_tag => 'h4' %>

<p><label for="region_name">Name</label><br/>
<%= text_field 'region', 'name'  %></p>

<p><label for="region_nation_id">Nation</label><br/>
<% if params[:action] == 'new' %>
  <%= text_field 'track', 'nation_id', :value => @region.nation.name, :disabled => true %>
<% else %>
  <%= select 'region', 'nation_id', Nation.find(:all).collect {|c| [c.name, c.id] } %>
<% end %>
</p>

<p><label for="region_description">Description</label><br/>
<%= text_area 'region', 'description', "cols" => 70, "rows" => 10 %></p>

<p><label for="rain_readings">Rain readings</label><br/>
<%= text_field 'region', 'rain_readings', "size" => 4 %> (days 0..21, use 0 for no rainfall graph)</p>

<p><label>Map</label>
<div id="map"></div></p>
<p><label>Latitude </label><%= text_field 'region', 'latitude', :id => "region_latitude", :size => 15 %>
<label>Longitude </label><%= text_field 'region', 'longitude', :id => "region_longitude", :size => 15 %>
<label>Zoom </label><%= text_field 'region', 'zoom', :id => "region_zoom", :size => 4 %></p>

