<h1><%= @region.name %></h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<p><%= replace_for_view(h(@region.description)) %></p>

<% if @region.zoom != 0 %>
<%= heading "Areas" %>
<div id="map"></div><p><input type="button" value="Reset map view" onclick="resetMap();"/><% if !@region.points.nil? %>&nbsp;<input type="button" value="Show/hide region" onclick="showHideRegion();"/><% end %></p>
<% end %>

<%= render :partial => 'track_report/summary', :locals => {:title => 'Recent Track Reports'} %>

<%= render :partial => 'tracks_summary' %>

<%= heading "Stay connected" %>
<p>
  <a href="/region/rss/<%= @region.id %>" title="Subscribe to track reports for <%= @region.name %>" rel="alternate" type="application/rss+xml"><img align="absbottom" src="/images/feed.png" alt=""/> RSS feed of <%= @region.name %> reports</a>
</p>

<hr/>

<p class="edit"><%= link_to 'Edit', :action => 'edit', :id => @region %>
<% if creator? %>
 | <%= link_to 'Add area', :controller => 'area', :action => 'new', :region_id => @region.id %>
<% end %>
<% if ! logged_in? %> (requires sign-in)<% end %></p>
