<h1>Home</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<%= replace_for_view(h(@special.content)) -%>
<%= render :partial => 'track_report/summary', :locals => {:title => 'All Recent Track Reports'} %>

<%= heading "Stay connected" %>
<p>
  <a href="/index/rss" title="Subscribe to all track reports" rel="alternate" type="application/rss+xml"><img align="absbottom" src="/images/feed.png" alt=""/> RSS feed of all reports</a> (RSS feeds are also available per-region on each region page)
</p>
<p>
  <a href="http://twitter.com/tracks_org_nz" title="Follow updates on Twitter"><img align="absbottom" src="/images/twitter.png" alt=""/> Follow all updates on Twitter</a>
</p>

<% if admin? %>
<hr/>
<p class="edit"><%= link_to 'Edit', :action => 'edit', :id => @special %>
|
<%= link_to 'Add region', :controller => 'region', :action => 'new', :nation_id => @nation.id %>
</p>
<% end %>