<!--<li><%= link_to 'Classic Routes', { :controller => 'classic' }, :class => 'main' %></li>-->
<li><%= link_to 'FAQ', { :controller => 'faq' }, :class => 'main' %></li>
<li><%= link_to 'About', { :controller => 'about' }, :class => 'main' %></li>
<li><%= link_to 'Contact', { :controller => 'contact' }, :class => 'main' %></li>
<li><%= link_to 'Terms', { :controller => 'terms' }, :class => 'main' %></li>
