<p></p>

<%= heading "Account (edit)" %>

<%= error_messages_for 'user', :header_tag => 'h4' %>

<% form_remote_tag :url => {:action => "update_user_settings"} do %>

<div class="two_cols">

  <div class="col_one"><label for="user_login">Email (login)</label></div>
  <div class="col_two"><%=h @user.login %></div>

  <div class="col_one"><div class="edit">Screen name</div></div>
  <div class="col_two"><%= text_field 'user', 'screen_name' %></div>

</div>

<p class="form_buttons"><%= submit_tag 'Save preferences' %> or <%= link_to_remote 'Cancel', :url => {:action => 'cancel_edit_user_settings'} %></p>

<% end %>
