<p></p>

<h2>Account</h2><h3></h3>
<% if :notice %><p class="notice"><%= flash[:notice] %></p><% end %>

<div class="two_cols">

<div id="user_settings_body">
  <div class="col_one">Email (login)</div>
  <div class="col_two"><%=h @user.login %></div>

  <div class="col_one">Screen name</div>
  <div class="col_two"><%=h @user.screen_name %></div>
</div>

  <hr/>
  <span class="edit"><%= link_to_remote 'Edit', :url => {:controller => 'settings', :action => 'edit_user_settings'} %> | <%= link_to_remote 'Change password', :url => {:controller => 'account', :action => 'change_password'} %></span>

</div>