<h1>Settings (edit)</h1>

<% form_tag :action => 'update' do %>
<%= error_messages_for 'setting', :header_tag => 'h4' %>

<p><label for="setting_map_type_id">Map style</label>
<%= select :setting, :map_type_id, MapType.find(:all, :order => 'name').collect { |mt| [mt.name, mt.id] } %></p>

<p><label for="setting_map_type_id">Home region</label>
<%= select :setting, :region_id, Region.find(:all, :order => 'name').collect {|s| [s.name, s.id] } %></p>

  <p><%= submit_tag 'Save' %></p>
<% end %>

<hr size=1 color='#ccc'>

<p><%= link_to 'Back', :action => 'index' %></p>
