<h1>Track Reports for <%= @oldest_report.track.name %> (<%= params[:year] %>)</h1>

<% if @track_reports.length > 0 %>
<table>
  <tr>
    <th>Date</th>
    <th>Report</th>
  </tr>
  
<% for track_report in @track_reports %>
  <tr>
    <td nowrap><%= track_report.date.to_s(:concise) %></td>
    <td><%= replace_for_view(h(track_report.description)) %></td>
  </tr>
<% end %>
</table>

<% else %>

<p>No track reports for <%= params[:year] %>.</p>

<% end %>

<hr/>

<p>
<% if params[:year].to_i > @oldest_report.date.year %><%= link_to 'Older', { :controller => 'track_report', :action => 'list', :track_id => params[:track_id], :year => params[:year].to_i - 1 } %> |<% end %>
<% if params[:year] != Time.now.strftime('%Y') %><%= link_to 'Current', { :controller => 'track_report', :action => 'list', :track_id => params[:track_id], :year => Time.now.strftime('%Y') } %> |<% end %>
<% if params[:year] < Time.now.strftime('%Y') %><%= link_to 'Newer', { :controller => 'track_report', :action => 'list', :track_id => params[:track_id], :year => params[:year].to_i + 1 } %> |<% end %>
<%= link_to 'Back to ' + @oldest_report.track.name, :controller => 'track', :action => 'show', :id => params[:track_id] %>
</p>