<h1>Listing map_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

<% for map_type in @map_types %>
  <tr>
    <td><%=h map_type.name %></td>
    <td><%=h map_type.google_map_type %></td>
    <td><%= link_to 'Show', :action => 'show', :id => map_type %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => map_type %></td>
    <td><%= link_to 'Destroy', :id => map_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New map_type', :action => 'new' %>
