<h1>New map_type</h1>

<% form_for(@map_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<hr size="1" color="#ccc">

<p><%= link_to 'Back', map_types_path %></p>
