<div class="left">Comments</div>
<div class="right">
  <% if @comments.length > 0 %>
  <% @comments.each do |comment| %>
  <%= replace_for_view(h(comment.comment)) %><br/>
  <div class="date_left"><%= h comment.user.screen_name %>, <%= fmt_datetime comment.created_at %></div>
  <% if comment == @comments.last %><span id="delete_link"><% if comment.feature.open? && (admin? || @comments.last.user == current_user) %><%= link_to 'Delete comment', {:controller => 'feature_comments', :action => 'destroy', :id => @comments.last}, :confirm => 'Are you sure?', :method => :post %><% end %></span><% end %>
  <%= '<hr/>' if comment != @comments.last %>
  <% end %>
  <% else %>
  None<span id="delete_link"></span>
  <% end %>
  <div id="new_comment"></div>
</div>
