<div id="feature_comment_<%= feature_comment.id %>"><p><%= replace_for_view(h(feature_comment.comment)) %><br/>
<span class="date_left"><%= h feature_comment.user.screen_name %>, <%= fmt_datetime feature_comment.created_at %></span>
<% if feature_comment == @comments.last %><span class="edit"><span id="delete_link"><% if feature_comment.feature.open? && (admin? || @comments.last.user == current_user) %><%= link_to_remote 'Edit', :url => {:controller => 'feature_comments', :action => 'edit_comment', :id => feature_comment.id} %> | <%= link_to 'Delete', {:controller => 'feature_comments', :action => 'destroy', :id => @comments.last}, :confirm => 'Are you sure?', :method => :post %><% end %></span></span><% end %></p><div style="padding:0 9px;"><%= '<hr/>' if feature_comment != @comments.last %></div>
</div>
