<% @existing_connections.each do |ct| %>
<div id="track_connection_<%= ct[1] %>">
<p><%= link_to_remote image_tag(image_path("del.png"), :mouseover => image_path("del_over.png"), :alt => "del", :size => "10x10"), :url => {:controller => 'track_connection', :action => 'destroy', :id => ct[1], :track_id => params[:track_id]}, :success => visual_effect(:fade, "track_connection_#{ct[1]}"), :before => visual_effect(:highlight, "track_connection_#{ct[1]}", :startcolor => "#f48a00", :endcolor => "#f48a00"), :confirm => "Delete track connection to #{ct[0]}?" %> <%= ct[0] %></p>
</div>
<% end %>

<div id="connection_selectors_area">
<%= render :partial => "form_add", :locals => {:collection => @potential_connections_same_area, :title => 'Add (same area)'} %>
</div>
<div id="connection_selectors_region">
<%= render :partial => "form_add", :locals => {:collection => @potential_connections_same_region, :title => 'Add (same region)'} %>
</div>
<div id="connection_selectors_all">
<%= render :partial => "form_add", :locals => {:collection => @potential_connections_all, :title => 'Add (all)'} %>
</div>

<p class="edit"><%= link_to_remote 'Done', { :url => { :action => 'done', :track_id => @track.id } } %></p>
