<h1>FAQ</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<p>Got a question not answered here? Try <b>info@<%= URL_BASE %></b></p>

<%= heading "Questions" %>
<% @faqs.each_with_index do |faq, i| %>
<p><%= i+1 %>. <a href="#faq_<%= faq.id %>"><%= faq.question %></a></p>
<% end %>

<%= heading "Answers" %>
<% @faqs.each do |faq| %>
<div id="faq_<%= faq.id %>">
  <%= render :partial => 'show', :locals => {:faq => faq} %>
</div>
<hr/>
<% end %>

<% if creator? %>
<p><%= link_to 'New FAQ', :action => 'new' %></p>
<% end %>