<p></p>

<%= heading "Account (edit)" %>

<%= error_messages_for 'user', :header_tag => 'h4' %>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>
<% form_remote_tag :url => {:action => "update_password"} do -%>
<div class="two_cols">
  <div class="col_one"><div class="edit">Old password</div></div>
  <div class="col_two"><%= password_field :user, :old_password, :value => @old_password %></div>
  <div class="col_one"><div class="edit">New password</div></div>
  <div class="col_two"><%= password_field :user, :password %></div>
  <div class="col_one"><div class="edit">Confirm new password</div></div>
  <div class="col_two"><%= password_field :user, :password_confirmation %></div>
</div>
<p class="form_buttons"><%= submit_tag 'Save password' %> or <%= link_to_remote 'Cancel', :url => {:action => 'cancel_change_password'} %></p>
<% end -%>