<h1>Log in</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>
<p class="notice"><b>Note:</b> Log in has changed slightly. Please use your email as your login name. If you cannot remember your password or the email you signed up with, please contact <b>info@tracks.org.nz</b>. Please tell us what your login and screen name might be, thanks!</p>
<% form_tag do -%>
<p><label for="login">Email</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><%= check_box_tag 'remember_me', 1, true %><label for="remember_me">remember me</label></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>

<p>Need a login? <%= link_to 'Sign up here', :controller => '/account', :action => 'signup' %>.</p>