<h1>Sign in</h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<% form_tag do -%>
<p><label for="login">Email</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br/>
<%= password_field_tag 'password' %></p>

<p><%= check_box_tag 'remember_me', 1, true %><label for="remember_me">remember me</label></p>

<p><%= submit_tag 'Sign in' %></p>
<% end -%>

<p>Need an account? <%= link_to 'Sign up here', :controller => '/account', :action => 'signup' %>.</p>