<h1>Sign up</h1>
<%= error_messages_for :user, :header_tag => 'h4' %>
<% form_for :user do |f| -%>
<p><label for="login">Email (login)</label><br/>
<%= f.text_field :login %></p>

<p><label for="screen_name">Screen name</label><br/>
<%= f.text_field :screen_name %></p>

<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm password</label><br/>
<%= f.password_field :password_confirmation %></p>

<%= show_simple_captcha(:object=>"user") %>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
