<h1>Admin: user</h1>
<% if :notice %><p class="notice"><%= flash[:notice] %></p><% end %>

<div class="two_cols">
  <div class="col_one">Screen name</div>
  <div class="col_two"><%= @user.screen_name %></div>

  <div class="col_one">Email (login)</div>
  <div class="col_two"><%= @user.login %></div>

  <div class="col_one">Signup</div>
  <div class="col_two"><%= @user.created_at.to_s(:full) %></div>

  <div class="col_one">Edits</div>
  <div class="col_two"><%= @user.edits %></div>

  <div class="col_one">Reports</div>
  <div class="col_two"><%= @user.reports %></div>

  <div class="col_one">Last edit</div>
  <div class="col_two"><%= @user.last_track_edit_at.to_s(:full) if !@user.last_track_edit_at.nil? %></div>

  <div class="col_one">Access</div>
  <div class="col_two"><%= @user.privilege %></div>
</div>

<hr size="1" color="#ccc">

<p><%= link_to 'Back', :action => 'index' %> | <%= link_to 'Edit', :action => 'edit', :id => @user %></p>