<h1><%= @track.name %></h1>
<% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end -%>

<div class="left"><p>Name</p></div>
<div class="right"><p><%= @track.name %>
<%= '<span style="color:#777777;">(' + @track_akas.collect(&:name).sort.join(', ') + ')</span>' if @track_akas.size > 0 %>
</p></div>

<div class="left"><p>Location</p></div>
<div class="right"><p><%= @track.area.name %>, <%= @track.area.region.name %>, <%= @track.area.region.nation.name %></p></div>

<% if ! @track.desc_overview.empty? && ! @track.desc_overview.blank? %>
<div class="left"><p>Overview</p></div>
<div class="right"><p><%= replace_for_view(h(@track.desc_overview)) %></p></div>
<% end %>

<% if @track.track_grade %>
<div class="left"><p>Grade</p></div>
<div class="right"><p><%= @track.track_grade.name + h(@track.grade_note) %></p></div>
<% end %>

<% if @track.track_access %>
<div class="left"><p>Access</p></div>
<div class="right"><p><%= @track.track_access.name + h(@track.access_note) %></p></div>
<% end %>

<% if ! @track.desc_full.empty? %>
<div class="left"><p>Description</p></div>
<div class="right"><p><%= replace_for_view(h(@track.desc_full)) %></p></div>
<% end %>

<% if ! @track.desc_where.empty? %>
<div class="left"><p>Getting there</p></div>
<div class="right"><p><%= replace_for_view(h(@track.desc_where)) %></p></div>
<% end %>

<% if ! @track.desc_note.empty? %>
<div class="left"><p>Other notes</p></div>
<div class="right"><p><%= replace_for_view(h(@track.desc_note)) %></p></div>
<% end %>

<% if @track.length != 0 %>
<div class="left"><p>Length</p></div>
<div class="right"><p><%= distance @track.adjusted_length %></p></div>
<% end %>

<% if @track.condition_id != nil %>
<div class="left"><p>Conditions</p></div>
<div class="right"><p><%= @track.condition.name %></p></div>
<% end %>

<% if ! @track.alt_gain.nil? || ! @track.alt_loss.nil? || ! @track.alt_begin.nil? || ! @track.alt_end.nil? %>
<div class="left"><p>Altitude</p></div>
<div class="right"><p>
<% if ! @track.alt_gain.nil? %><img src="/images/alt_gain.png" alt="gain" title="Altitude gain"/><%= @track.alt_gain %>m<% end %>
<% if ! @track.alt_loss.nil? %><img src="/images/alt_loss.png" alt="loss" title="Altitude loss"/><%= @track.alt_loss %>m<% end %>
<% if ! @track.alt_begin.nil? %><img src="/images/alt_begin.png" alt="begin" title="Altitude begin"/><%= @track.alt_begin %>m<% end %>
<% if ! @track.alt_end.nil? %><img src="/images/alt_end.png" alt="end" title="Altitude end"/><%= @track.alt_end %>m<% end %>
<% if ! @track.alt_note.empty? %><%= h @track.alt_note %><% end %>
</p>
</div>
<% end %>

<div class="left"><p>Last modified</p></div>
<div class="right"><p id="last_updated_by"><%= render :partial => 'last_updated_by' %></p></div>

<div class="left"><p>Created by</p></div>
<div class="right"><p><%= User.find(@track.created_by).screen_name %></p></div>

<% if @track.zoom != 0 %>
<%= heading "Google goodness" %>
<div id="labelContainer">
  <div id="currTrackSelection"></div>
</div>
<div id="map"></div><p><input type="button" value="Reset map view" onclick="resetMap();"/></p>

<% if @track.gps_file_exists? %>
<p>Download GPS path: <%= link_to 'gpx', "/paths/#{@track.filename}.gpx" if @track.gpx_file_exists? %> <%= link_to 'kml', "/paths/#{@track.filename}.kml" if @track.kml_file_exists? %></p>
<% end %>

<% if creator? %><div id="upload_path_file"><%= render :partial => 'upload_link' %></div><% end %>
<% end %>

<hr/>

<p class="edit"><%= link_to 'Edit', :action => 'edit', :id => @track %>
<% if ! logged_in? %> (requires sign-in)<% end %></p>