<h1><%= @track.name %></h1>
<% if :notice %><p class="notice"><%= flash[:notice] %></p><% end %>

<p class="left">Name</p><p class="right"><%= @track.name %></p>

<p class="left">Location</p><p class="right"><%= @track.area.name %>, <%= @track.area.region.name %>, <%= @track.area.region.nation.name %></p>

<% akas = TrackAka.find(:all, :conditions => ["track_id = ?", @track.id]) %>
<% if akas.size > 0 %>
<p class="left">Also known as</p><p class="right">
<% if akas.size > 0 %>
<% aka_formatted = '' %>
<% if akas.size > 1 %>
<% akas[0...akas.size-1].collect do |a| aka_formatted += a.name + ', ' %><% end %>
<% end %>
<% aka_formatted += akas[-1].name %>
<%= aka_formatted %>
<% end %>
</p>
<% end %>

<% if ! @track.desc_overview.empty? && ! @track.desc_overview.blank? %>
<p class="left">Overview</p><p class="right"><%= replace_for_view(h(@track.desc_overview)) %></p>
<% end %>

<% if @track.track_grade %>
<p class="left">Grade</p><p class="right"><%= @track.track_grade.name + h(@track.grade_note) %></p>
<% end %>

<% if @track.track_access %>
<p class="left">Access</p><p class="right"><%= @track.track_access.name + h(@track.access_note) %></p>
<% end %>

<% if ! @track.desc_full.empty? %>
<p class="left">Description</p><p class="right"><%= replace_for_view(h(@track.desc_full)) %></p>
<% end %>

<% if ! @track.desc_where.empty? %>
<p class="left">Getting there</p><p class="right"><%= replace_for_view(h(@track.desc_where)) %></p>
<% end %>

<% if ! @track.desc_note.empty? %>
<p class="left">Other notes</p><p class="right"><%= replace_for_view(h(@track.desc_note)) %></p>
<% end %>

<% if @track.length != 0 %>
<p class="left">Length</p><p class="right"><%= @track.length %>km</p>
<% end %>

<% if @track.condition_id != nil %>
<p class="left">Conditions</p><p class="right"><%= @track.condition.name %></p>
<% end %>

<% if ! @track.alt_gain.nil? || ! @track.alt_loss.nil? || ! @track.alt_begin.nil? || ! @track.alt_end.nil? %>
<p class="left">Altitude</p><p class="right">
<% if ! @track.alt_gain.nil? %><img src="/images/alt_gain.png" alt="gain" title="Altitude gain"/><%= @track.alt_gain %>m<% end %>
<% if ! @track.alt_loss.nil? %><img src="/images/alt_loss.png" alt="loss" title="Altitude loss"/><%= @track.alt_loss %>m<% end %>
<% if ! @track.alt_begin.nil? %><img src="/images/alt_begin.png" alt="begin" title="Altitude begin"/><%= @track.alt_begin %>m<% end %>
<% if ! @track.alt_end.nil? %><img src="/images/alt_end.png" alt="end" title="Altitude end"/><%= @track.alt_end %>m<% end %>
<% if ! @track.alt_note.empty? %><%= h @track.alt_note %><% end %>
</p>
<% end %>

<p class="left">Last modified</p><p class="right"><%= @track.date.to_s(:tracks).gsub(/^0/, '') %> by <%= User.find(@track.author).screen_name %></p>

<% if @track.zoom != 0 %>
<h2>Google goodness</h2><h3>&nbsp;</h3>
<div id="labelContainer">
  <div id="currTrackSelection"></div>
</div>
<div id="map"></div><p><input type="button" value="Reset map view" onclick="resetMap();"/></p>

<% if @track.gps_file_exists? %>
<p>Download GPS path: <%= link_to 'gpx', "/paths/#{@track.filename}.gpx" if @track.gpx_file_exists? %> <%= link_to 'kml', "/paths/#{@track.filename}.kml" if @track.kml_file_exists? %></p>
<% end %>

<% if creator? %><div id="upload_path_file"><%= render :partial => 'upload_link' %></div><% end %>
<% end %>

<% if admin? || @track.medias.length > 0 %>
<%# if creator? || @track.medias.length > 0 %>
<h2>Media</h2><h3>&nbsp;</h3>
<% @track.medias.each do |media| %>
<p><%= media.gimme %></p>
<%= '<hr/>' if media != @track.medias.last %>
<% end %>
<% if creator? %><div id="add_media_link"><%= render :partial => 'add_media_link' %></div><% end %>
<% end %>

<hr/>

<p class="edit"><%= link_to 'Edit', :action => 'edit', :id => @track %>
<% if ! logged_in? %> (requires login)<% end %></p>