<h1>Features/Problems</h1>

<% if params[:view] %>
<p></p>
<% else %>
<p>The following lists are provided by users and will hopefully help focus our small (!) development team to make <b>Tracks</b> a better experience.</p>

<p><% if logged_in? %>You get 3 votes that you can use. You can stack all your votes on one Feature/Problem or spread them around. Click the + to add a vote, - to remove. When a Feature/Problem gets closed your votes on it will become available for other voting.</p><p id="votes"><%= render :partial => 'votes' %><% else %>Log in to vote!<% end %></p>
<% end %>

<%= heading "#{params[:view] ? "Closed" : "Suggested"} Features" %>

<div id="features" class="features">
  <%= render :partial => 'features' %>
</div>

<%= heading "#{params[:view] ? "Closed" : "Reported"} Problems" %>

<div id="problems" class="features">
  <%= render :partial => 'problems' %>
</div>

<hr />

<p class="edit"><%= link_to 'Suggest a feature', :action => 'new', :kind => 'feature' %><% if !logged_in? %>*<% end %> | <%= link_to 'Report a problem', :action => 'new', :kind => 'problem' %><% if !logged_in? %>*<% end %> | <% if params[:view] %><%= link_to "Show all open", features_path %><% else %><%= link_to "Show all closed", :action => 'index', :view => 'closed' %><% end %><% if !logged_in? %> (* requires login)<% end %></p>
