<h1>New <%= @feature.kind.humanize %></h1>

<p>You can browse existing <%= @feature.kind %>s <%= link_to 'here', :controller => 'features' %>.</p>

<% form_for(@feature) do |f| %>
  <%= error_messages_for 'feature', :header_tag => 'h4' %>

  <%= f.hidden_field :kind %>

  <div class="left"><%= f.label :title %></div>
  <div class="right"><%= f.text_field :title %></div>

  <div class="left"><%= f.label :description %></div>
  <div class="right"><%= f.text_area :description %></div>

  <p class="edit">
    <%= f.submit "Create", :kind => @feature.kind %> or <%= link_to 'Cancel', features_path %>
  </p>
<% end %>
