<h1><%= @feature.kind.humanize %>: <%=h @feature.title[0..40] %></h1>

<div class="left">Title</div>
<div class="right"><%=h @feature.title %></div>

<div class="left"><%= @feature.kind == 'feature' ? "Requestor" : "Reporter" %></div>
<div class="right"><%=h @feature.user.screen_name %></div>

<div class="left">Status</div>
<div class="right"><%=h @feature.status.humanize %></div>

<div class="left">Progress</div>
<div class="right"><%= progress @feature.progress %></div>

<div class="left">Description</div>
<div class="right"><%= replace_for_view(h(@feature.description)) %></div>

<div id="comments">
<%= render :partial => 'feature_comments/list' %>
</div>

<div class="left">Votes</div>
<div class="right"><%= @feature.votes.length %></div>

<div class="left">Created</div>
<div class="right"><%= fmt_datetime @feature.created_at %></div>

<div class="left">Updated</div>
<div class="right"><%= fmt_datetime @feature.updated_at %></div>

<hr/>

<p class="edit"><%= link_to 'Show all', features_path %><% if logged_in? && (admin? || current_user == @feature.user) %> | <%= link_to 'Edit', edit_feature_path(@feature) %><% end %><% if logged_in? && (@feature.open? || admin?) %><span id="add_comment_button"><%= render :partial => 'feature_comments/add_link' %></span><% end %></p>
