<h1><%= @feature.kind.humanize %>: <%=h @feature.title[0..60] %></h1>

<div class="left"><p>Title</p></div>
<div class="right"><p><%=h @feature.title %></p></div>

<div class="left"><p>Id</p></div>
<div class="right"><p><%= @feature.humanized_id %></p></div>

<div class="left"><p><%= @feature.kind == 'feature' ? "Requestor" : "Reporter" %></p></div>
<div class="right"><p><%=h @feature.user.screen_name %></p></div>

<div class="left"><p>Status</p></div>
<div class="right"><p><%=h @feature.status.humanize %><% if @feature.closed? %>, <%= fmt_datetime @feature.updated_at %><% end %></p></div>

<div class="left"><p>Progress</p></div>
<div class="right"><p><%= progress @feature.progress %></p></div>

<div class="left"><p>Description</p></div>
<div class="right"><p><%= replace_for_view(h(@feature.description)) %></p></div>

<div id="comments">
<%= render :partial => 'feature_comments/list' %>
</div>

<% if @feature.open? %>
<div class="left"><p>Votes</p></div>
<div class="right"><p><%= @feature.votes.length %></p></div>
<% end %>

<div class="left"><p>Created</p></div>
<div class="right"><p><%= fmt_datetime @feature.created_at %></p></div>

<div class="left"><p>Updated</p></div>
<div class="right"><p><%= fmt_datetime @feature.updated_at %></p></div>

<hr/>

<p class="edit"><% if logged_in? && (admin? || current_user == @feature.user) %><%= link_to 'Edit', edit_feature_path(@feature) %> | <% end %><span id="add_comment_button"><% if logged_in? && @feature.open? %><%= link_to_remote 'Add comment', :url => {:controller => 'feature_comments', :action => 'add_comment', :feature_id => @feature} %> | <% end %></span><% if @feature.open? %><%= link_to 'Show all', features_path %><% else %><%= link_to 'Show all', :action => 'index', :view => @feature.status %><% end %></p>
