<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>Search | Tracks.org.nz</title>
<%= stylesheet_link_tag 'tracks' %>
<%= stylesheet_link_tag 'tracks_iphone' if iphone_user_agent? %>
<%= stylesheet_link_tag 'ck_fu' %>
<link href="/favicon.png" rel="shortcut icon" type="image/x-icon"/>
<%= javascript_include_tag :defaults %>
<%= render :partial => 'shared/ie' %>
<%= render :partial => 'shared/analytics' %>
<script src="http://www.google.com/jsapi?key=ABQIAAAA0tC6mFyFL-PUaeoDG2zn6RSwz4NvWkq8rtSzmZswul50fvew_xTjOi89Utv9cz5XRIuWXZ6z8n4z9A" type="text/javascript"></script>
<script language="Javascript" type="text/javascript">
//<![CDATA[
google.load("search", "1");
function initialize() {
  var siteSearch = new google.search.WebSearch();
  siteSearch.setUserDefinedClassSuffix("siteSearch");
  siteSearch.setSiteRestriction("tracks.org.nz");

  var options = new google.search.SearcherOptions();
  options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);

  var searchControl = new google.search.SearchControl();
  searchControl.setLinkTarget(google.search.Search.LINK_TARGET_SELF);
  searchControl.addSearcher(siteSearch, options);
  searchControl.draw(document.getElementById("searchcontrol"));
  searchControl.execute("<%= @term %>");
}
google.setOnLoadCallback(initialize);
//]]>
</script>
</head>
<body>
<%= ck_fu %>
<table class="bg" cellspacing="0">
<tr>
<td class="bg_left"></td>
<td class="container" valign="top">
<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/body' %>
<%= render :partial => 'shared/footer' %>
</td>
<td class="bg_right"></td>
</tr>
</table>
</body>
</html>
